<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Tinkerbelle</title>
    
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!--     <link rel="stylesheet" type="text/css" href="style.css" media="screen"/> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>

    </head>
<body>
<div id='user'>
	<button  id='control'>Jane Wren</button>
	<button id='light'>Tinkerbelle</button>
</div>
<div id='controlPanel'>
	<div class="pickr"></div>
	<br>
	<label> Audio
		<input type="text" id='audioIn'>
		<button id='play'>▶️</button>
		<button id = 'pause'>■</button>

	</label>
	<label> Speak words
		<input type="text" id='wordsIn'>
		<button id='playWords'>▶️</button>
		<button id = 'pauseWords'>■</button>

	</label>

	<label> Pillbox Scenario Presets

		<button id='scenario1_1'>1</button> <!-- Turn screen blue; Speak words / buzz on repeat 2 times-->
		<button id='scenario1_2'>2</button> <!-- Turn screen orange; Speak words / buzz on repeat 2 times-->
		<button id='scenario1_3'>3</button> <!-- Turn screen black; off setting-->

	</label> 

	<label> Sports Scenario Presets

		<button id='scenario2_1'>1</button> <!-- Turn screen red/white flashing; Play horn sounds for hockey-->
		<button id='scenario2_2'>2</button> <!-- Turn screen red; Silence the horn-->
		<button id='scenario2_3'>3</button> <!-- Turn screen black; off setting-->

	</label> 

	<label> TV Ads Scenario Presets

		<button id='scenario3_1'>1</button> <!-- Turn screen red-->
		<button id='scenario3_2'>2</button> <!-- Turn screen yellow-->
		<button id='scenario3_3'>3</button> <!-- Turn screen green; "off" or default setting-->

	</label> 

</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/> <!-- 'monolith' theme -->
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script src="static/index.js"></script>
</body>
</html>